html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

#titulo_header {
    color: white;
    margin-top: 3rem;
    margin-left: 13.4rem;
    font-size: 2.4rem;
}

form {
    margin-top: 1.9rem;
}

.header_login {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#btn_login {
    background-color: #26335D;
    width: 125px;
    max-width: 125px;
    height: 90%;
    max-height: 45px;
    border-radius: 1.5rem;
    color: #FFFFFF;
    align-items: center;
    border: 0;
    margin-left: 2.0rem;
    margin-right: 6.6rem;
    cursor: pointer;
    font-size: 1.4rem;
}

#btn_login:hover {
    background-color: #394670;
}

input {
    margin: 0.4rem;
}

@media (max-width: 681px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 546px){
    html{
        font-size: 40%;
    }
}

@media (max-width: 436px){
    html{
        font-size: 30%;
    }
}