.sidebar_container {
    height: 100vh;
    width: 250px;
    background-color: #2F4050;
}

#menu_icone_logo {
    width: 40px;
    height: 40px;
}

.sidebar_list {
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebar_list .row_list {
    width: 100%;
    height: 60px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar_list .row_list:hover {
    cursor: pointer;
    background-color: #293846;
}

.row_list #menu_icone {
    flex: 30%;
    display: grid;
    place-items: center;
}

.row_list #menu_titulo {
    flex: 70%;
}

.sidebar_list #active {
    background-color: #293846;
}

a {
    text-decoration: none;
}