html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.containerBodySelect {
    background-color: #D9D9D9;
    height: 6.0rem;
}

.dados ul {
    display: flex;
}

#logo_select {
    width: 4.0rem;
    height: 4.0rem;
}

.dados ul li {
    font-size: 1.4rem;
    color: #252B42;
    white-space: nowrap;
    
}

.dados ul li:first-child {
    margin-right: 3.0rem;
    width: 9.0rem;
}

.dados_two {
    margin-right: 21.0rem;
    width: 10.0rem;
}

.dados_three {
    margin-right: 26.0rem;
    width: 6.0rem;
}

.dados_four {
    margin-right: 33.0rem;
    width: 10.0rem;
}

.dados_five {
    margin-right: 13.0rem;
    width: 10.0rem;
}

#btn_consultar {
  margin-right: 10.0rem;   
  height: 2.0rem;   
  width: 15.0rem;  
  background-color: #98B1BA;
  border-radius: 1.0rem;
  color: #000000;
  font-size: 1.6rem;
  border: 0;
}
@media (max-width: 1700px) {
    .dados ul li:first-child {
        margin-right: 3.0rem;
        margin-left: 0px;
    }
    
    .dados_two {
        margin-right: 12.0rem;
        width: 10.0rem;
    }
    
    .dados_three {
        margin-right: 16.0rem;
        width: 6.0rem;
    }
    
    .dados_four {
        margin-right: 26.0rem;
        width: 10.0rem;
    }
    
    .dados_five {
        margin-right: 13.0rem;
        width: 10.0rem;
    }

}

@media (max-width: 1456px) {
    .dados ul {
        padding-left: 0px;
    }
    .dados ul li:first-child {
        margin-right: 0px;
        width: 4.0rem;
    }
    
    .dados_two {
        margin-right: 10.0rem;
    }
    
    .dados_three {
        margin-right: 9.0rem;
    }
    
    .dados_four {
        margin-right: 20.0rem;
    }
    
    .dados_five {
        margin-right: 13.0rem;
    }
}

@media(max-width:1080px){
    #logo_select {
        width: 3.0rem;
        height: 3.0rem;
    }
    .dados ul li {
        font-size: 1.2rem;
    }
}

@media(max-width:908px){
    #logo_select {
        width: 2.0rem;
        height: 2.0rem;
    }
    .dados ul li {
        font-size: 0.8rem;
        margin-left: -2.0rem;
    }
    .dados_two {
        margin-right: 2.5rem;
    }
    
    .dados_three {
        margin-right: 5.0rem;
    }
    
    .dados_four {
        margin-right: 9.0rem;
    }
    
    .dados_five {
        margin-right: 9.5rem;
    }
}

@media(max-width:625px){
    #logo_select {
        width: 1.5rem;
        height: 1.5rem;
    }
    .dados ul li {
        font-size: 0.5rem;
        margin-left: -2.0rem;
    }
    .dados_two {
        margin-right: 0.01rem;
    }
    
    .dados_three {
        margin-right: 1.5rem;
    }
    
    .dados_four {
        margin-right: 3.0rem;
    }
    
    .dados_five {
        margin-right: 4.5rem;
    }
}